<div class="main-wrapper">
  <div class="page-wrapper full-page">
    <div class="page-content d-flex align-items-center justify-content-center">

      <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-6 mx-auto">
          <div class="card">
            <div class="row">
              <div class="col-md-4 pr-md-0">
                <div class="auth-left-wrapper">

                </div>
              </div>
              <div class="col-md-8 pl-md-0">
                <div class="auth-form-wrapper px-4 py-5">
                  <a href="#" class="noble-ui-logo logo-light d-block mb-2">Syiham<span>UI</span></a>
                  <h5 class="text-muted font-weight-normal mb-4">Create a free account.</h5>
                  <form class="forms-sample" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Full Name</label>
                      <input type="text" class="form-control input-text-custom" id="name" name="name" [(ngModel)]="user.name" #name="ngModel" required />
                      <div *ngIf="f.submitted && !name.valid" class="help-block">An valid name is required.</div>                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Username</label>
                      <input type="text" class="form-control input-text-custom" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required />
                      <div *ngIf="f.submitted && !username.valid" class="help-block">An valid username is required.</div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control input-text-custom" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
                      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required.</div>
                    </div>
                    <div class="mt-3">
                      <button class="btn btn-primary text-white mr-2 mb-2 mb-md-0" type="submit">Sing up</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
